section {
  border-bottom: 1px solid var(--light-gray);
  margin-top: 10px;
  padding-bottom: 10px;
}
section:last-child {
  border-bottom: none;
}
section h3 {
  font-family: Kiron;
  font-size: var(--f-secondary);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
  margin-bottom: 0.625rem;
}
section img {
  width: 100%;
}
