#row-eleven .grid {
  display: grid;
  grid-template-areas: "Item-1 Item-1 Item-1 Item-2 Item-3 Item-4";
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

#row-eleven .grid-item-1 {
  grid-area: Item-1;
}

#row-eleven .grid-item-2 {
  grid-area: Item-2;
}

#row-eleven .grid-item-3 {
  grid-area: Item-3;
}

#row-eleven .grid-item-4 {
  grid-area: Item-4;
}
#row-eleven .content-title {
  opacity: 0.92;
  background-color: #f7f7f7;
  position: relative;
}

#row-eleven .content-title {
  bottom: 7px;
}
#row-eleven .content-excerpt,
#row-eleven .content-time-tag {
  display: none;
}
#row-eleven .content-title h4 {
  font-weight: bold;
  padding: 10px 5px;
  line-height: 1.33;
}
#row-eleven .grid-item-1 .content-title h4 {
  font-size: 24px;
}

#row-eleven .grid-item-2 .content-title h4,
#row-eleven .grid-item-3 .content-title h4,
#row-eleven .grid-item-4 .content-title h4 {
  font-size: 18px;
}
#row-eleven .grid-item-2 .content-title h4,
#row-eleven .grid-item-3 .content-title h4,
#row-eleven .grid-item-4 .content-title h4 {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1263px) and (min-width: 876px) {
  #row-eleven .grid {
    grid-template-areas: "Item-1 Item-2 Item-3 Item-4";
    grid-template-columns: repeat(4, 1fr);
  }
  #row-eleven .grid-item-1 .content-title h4,
  #row-eleven .grid-item-2 .content-title h4,
  #row-eleven .grid-item-3 .content-title h4,
  #row-eleven .grid-item-4 .content-title h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 875px) and (min-width: 320px) {
  #row-eleven .grid {
    grid-template-areas:
      "Item-1"
      "Item-2"
      "Item-3"
      "Item-4";
    grid-template-columns: 1fr;
  }
  #row-eleven .content-title {
    opacity: 1;
    background-color: #ffffff;
    position: initial;
  }
  #row-eleven .grid-item-1 .content-title h4 {
    font-size: 20px;
  }
  #row-eleven .content-excerpt,
  #row-eleven .grid-item-1 .content-time-tag {
    display: block;
  }
  #row-eleven .grid-item-2,
  #row-eleven .grid-item-3,
  #row-eleven .grid-item-4 {
    display: grid;
    grid-template-areas: "Content Content Image";
    grid-template-columns: repeat(3, 1fr);
  }
  #row-eleven .grid-item-2 .image,
  #row-eleven .grid-item-3 .image,
  #row-eleven .grid-item-4 .image {
    grid-area: Image;
  }
  #row-eleven .grid-item-2 .content,
  #row-eleven .grid-item-3 .content,
  #row-eleven .grid-item-4 .content {
    grid-area: Content;
  }
}
