#row-eight .grid {
  display: grid;
  grid-template-areas: "Left Right";
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#row-eight .grid-item-1 {
  grid-area: Left;
}

#row-eight .grid-item-2 {
  grid-area: Right;
}
#row-eight .grid-item-2 {
  display: grid;
  grid-template-areas:
    "Image-1 Content-1 Content-1"
    "Image-2 Content-2 Content-2"
    "Image-3 Content-3 Content-3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
#row-eight .image1 {
  grid-area: Image-1;
}
#row-eight .content1 {
  grid-area: Content-1;
}
#row-eight .image2 {
  grid-area: Image-2;
}
#row-eight .content2 {
  grid-area: Content-2;
}
#row-eight .image3 {
  grid-area: Image-3;
}
#row-eight .content3 {
  grid-area: Content-3;
}
#row-eight .grid-item-1 .content-title h4 {
  font-size: 32px;
  line-height: 1.31;
}

#row-eight .grid-item-2 .content-title h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
}

@media screen and (max-width: 1263px) and (min-width: 876px) {
  #row-eight .grid-item-1 .content-title h4 {
    font-size: 24px;
    line-height: 1.33;
  }
  #row-eight .grid-item-2 .content-title h4 {
    font-size: 20px;
    line-height: 1.4;
  }
  #row-eight .grid-item-2 .content-excerpt {
    display: none;
  }
}
@media screen and (max-width: 875px) and (min-width: 320px) {
  #row-eight .grid {
    grid-template-areas:
      "Left"
      "Right";
    grid-template-columns: 1fr;
  }
  #row-eight .grid-item-1 .content-title h4 {
    font-size: 24px;
    line-height: 1.33;
  }
  #row-eight .grid-item-2 .content-title h4 {
    font-size: 20px;
    line-height: 1.4;
  }
  #row-eight .grid-item-1 .content-time-tag {
    display: none;
  }
  #row-eight .grid-item-2 .content-excerpt,
  #row-eight .grid-item-2 .content-time-tag {
    display: none;
  }
}
