#row-five .grid {
  display: grid;
  grid-template-areas: "Item-1 Item-2 Item-3 Item-4";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

#row-five .grid-item-1 {
  grid-area: Item-1;
}

#row-five .grid-item-2 {
  grid-area: Item-2;
}

#row-five .grid-item-3 {
  grid-area: Item-3;
}

#row-five .grid-item-4 {
  grid-area: Item-4;
}
#row-five .grid-item-1 .content-title h4,
#row-five .grid-item-2 .content-title h4,
#row-five .grid-item-3 .content-title h4,
#row-five .grid-item-4 .content-title h4 {
  font-size: 20px;
  font-weight: bold;
}
#row-five .grid-item-1 .content-excerpt p,
#row-five .grid-item-2 .content-excerpt p,
#row-five .grid-item-3 .content-excerpt p,
#row-five .grid-item-4 .content-excerpt p {
  font-size: 16px;
}

@media screen and (max-width: 1263px) and (min-width: 876px) {
  #row-five .grid-item-1 .content-title h4,
  #row-five .grid-item-2 .content-title h4,
  #row-five .grid-item-3 .content-title h4,
  #row-five .grid-item-4 .content-title h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 875px) and (min-width: 320px) {
  #row-five .grid {
    grid-template-areas:
      "Item-1"
      "Item-2"
      "Item-3"
      "Item-4";
    grid-template-columns: 1fr;
  }
  #row-five .grid-item-2,
  #row-five .grid-item-3,
  #row-five .grid-item-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "Content-1 Content-1 Image-1";
    grid-column-gap: 10px;
  }
  #row-five .grid-item-1 .content-title h4 {
    font-size: 24px;
    font-weight: normal;
  }
  #row-five .grid-item-2 .content-title h4,
  #row-five .grid-item-3 .content-title h4,
  #row-five .grid-item-4 .content-title h4 {
    font-size: 18px;
  }
  #row-five .grid-item-2 .content-excerpt,
  #row-five .grid-item-3 .content-excerpt,
  #row-five .grid-item-4 .content-excerpt {
    display: none;
  }
  #row-five .image1 {
    grid-area: Image-1;
  }
  #row-five .content {
    grid-area: Content-1;
  }
}
