#row-six .grid {
  display: grid;
  grid-template-areas: "Left Center Right";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
#row-six .grid-item-1 {
  grid-area: Left;
}

#row-six .grid-item-2 {
  grid-area: Center;
}

#row-six .grid-item-3 {
  grid-area: Right;
}
#row-six .grid-item-1,
#row-six .grid-item-3 {
  display: grid;
  grid-template-areas:
    "Image-1 Content-1 Content-1"
    "Image-2 Content-2 Content-2"
    "Image-3 Content-3 Content-3"
    "Image-4 Content-4 Content-4";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
#row-six .image1 {
  grid-area: Image-1;
}
#row-six .content1 {
  grid-area: Content-1;
}
#row-six .image2 {
  grid-area: Image-2;
}
#row-six .content2 {
  grid-area: Content-2;
}
#row-six .image3 {
  grid-area: Image-3;
}
#row-six .content3 {
  grid-area: Content-3;
}

#row-six .image4 {
  grid-area: Image-4;
}
#row-six .content4 {
  grid-area: Content-4;
}

#row-six .grid-item-1 .content-title h4,
#row-six .grid-item-3 .content-title h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: var(--dark);
}

#row-six .grid-item-2 .content-title h4 {
  font-size: 32px;
  line-height: 1.31;
  text-align: left;
  color: var(--dark);
}

@media screen and (max-width: 1263px) and (min-width: 876px) {
  #row-six .grid-item-1,
  #row-six .grid-item-3 {
    grid-template-areas:
      "Content-1"
      "Content-2"
      "Content-3"
      "Content-4";
    grid-template-columns: 1fr;
  }
  #row-six .grid-item-1 .image,
  #row-six .grid-item-3 .image {
    display: none;
  }
  #row-six .grid-item-2 .content-title h4 {
    font-size: 24px;
  }
  #row-six .grid-item-1 .content-title h4,
  #row-six .grid-item-3 .content-title h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 875px) and (min-width: 320px) {
  #row-six .grid {
    grid-template-areas:
      "Center"
      "Left"
      "Right";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
  #row-six .grid-item-1 {
    grid-template-areas:
      "Content-1 Content-1 Image-1"
      "Content-2 Content-2 Image-2"
      "Content-3 Content-3 Image-3"
      "Content-4 Content-4 Image-4";
    grid-template-columns: repeat(3, 1fr);
  }
  #row-six .grid-item-3 {
    grid-template-areas:
      "Content-1"
      "Content-2"
      "Content-3"
      "Content-4";
    grid-template-columns: 1fr;
  }
  #row-six .grid-item-3 .image {
    display: none;
  }
}
