#row-thirteen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#row-thirteen .content-title h4 {
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: var(--dark);
  font-weight: normal;
}

#row-thirteen .grid-item-1 h4 {
  font-weight: bold;
}
#row-thirteen .grid-item .content {
  padding: 10px 0;
}
#row-thirteen .grid-item {
  border-bottom: 1px solid var(--light-gray);
}

@media screen and (max-width: 875px) and (min-width: 320px) {
  #row-thirteen {
    grid-template-columns: 1fr;
  }
}
