#row-twelve .grid {
  display: grid;
  grid-template-areas: "Item-1 Item-2";
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
#row-twelve .grid-item-1 {
  grid-area: Item-1;
  position: relative;
}

#row-twelve .grid-item-2 {
  grid-area: Item-2;
}

#row-twelve .grid-item-2 {
  display: grid;
  grid-template-areas:
    "Item-2-1 Item-2-1"
    "Item-2-2 Item-2-3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

#row-twelve .grid-item-2-1 {
  grid-area: Item-2-1;
  position: relative;
}
#row-twelve .grid-item-2-2 {
  grid-area: Item-2-2;
  position: relative;
}
#row-twelve .grid-item-2-3 {
  grid-area: Item-2-3;
  position: relative;
}

#row-twelve .grid-item-1 h4,
#row-twelve .grid-item-2-1 h4,
#row-twelve .grid-item-2-2 h4,
#row-twelve .grid-item-2-3 h4 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
}
#row-twelve .grid-item-1 h4 {
  font-size: 32px;
  line-height: 1.31;
}
#row-twelve .grid-item-2-1 h4,
#row-twelve .grid-item-2-2 h4,
#row-twelve .grid-item-2-3 h4 {
  font-size: 24px;
  line-height: 1.33;
}

@media screen and (max-width: 1263px) and (min-width: 876px) {
  #row-twelve .grid-item-1 h4 {
    font-size: 28px;
    line-height: 1.33;
  }
  #row-twelve .grid-item-2-1 h4,
  #row-twelve .grid-item-2-2 h4,
  #row-twelve .grid-item-2-3 h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 875px) and (min-width: 320px) {
  #row-twelve .grid {
    display: grid;
    grid-template-areas:
      "Item-1"
      "Item-2";
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  #row-twelve .grid-item-1 h4 {
    font-size: 20px;
    line-height: 1.4;
  }
  #row-twelve .grid-item-2-1 h4,
  #row-twelve .grid-item-2-2 h4,
  #row-twelve .grid-item-2-3 h4 {
    font-size: 16px;
    line-height: 1.38;
  }
}
