.ft-main {
  display: grid;
  grid-template-areas: "Left Left Left Right";
  grid-template-columns: repeat(4, 1fr);
}
.left-side {
  grid-area: Left;
  display: flex;
  flex-direction: column;
}
.ft-main .left-side img {
  width: 155px;
}
.right-side {
  grid-area: Right;
  display: flex;
  flex-direction: column;
  text-align: right;
}
footer ul,
.ft-social ul {
  list-style: none;
  padding-left: 0;
  font-family: Kiron;
}
footer li {
  display: inline-block;
  padding-right: 20px;
}
.ft-links ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.subscribe {
  font-family: Kiron;
}
input[type="email"] {
  border: 0;
  padding: 12px;
  background-color: #eeeeee;
}
input[type="submit"] {
  border-radius: 2px;
  background-color: #222222;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 10px;
  font-size: 16px;
  font: bold;
}

.ft-social .fa {
  color: #222222;
}

.ft-bottom {
  display: flex;
  flex-flow: wrap;
}
.ft-bottom ul li a {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-gray);
  text-decoration: none;
}

.ft-bottom .copy-right {
  flex: 1;
  text-align: left;
  font-size: 14px;
  color: var(--light-gray);
}

.ft-bottom .legal {
  flex: 2;
  text-align: center;
}

.ft-bottom .editor {
  flex: 1;
  text-align: right;
  font-size: 14px;
  color: var(--light-gray);
}
