header {
  display: flex;
  flex-direction: column;
}

.top-header {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid var(--light-gray);
}
.top-header-side {
  flex: 1;
}
.top-header-center {
  flex: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--dark);
}

nav a {
  margin: 1em;
  font-family: Kiron;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-decoration: none;
  font-size: var(--f-16);
  color: var(--dark);
  font-weight: 600;
}
