/* CSS Variables */

:root {
  --dark: #121212;
  --light-gray: #e2e2e2;
  --gray: #555555;
  --warm-gray: #999999;
  --f-primary: 14px;
  --f-secondary: 18px;
  --f-third: 24px;
  --f-large: 32px;
  --hover: #369;
  --azure: #0099ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* 
Top Advertisement Block
*/
.advertisement {
  background-color: #f7f7f7;
  text-align: center;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #369;
}

.content-time-tag p {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: var(--light-gray);
  margin-right: 10px;
}
.moreNewsButton {
  display: block;
  width: 100px;
  border-radius: 2px;
  border: solid 1px var(--light-gray);
  background-color: #ffffff;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: var(--azure);
  padding: 5px 0;
  text-align: center;
}
@import url("./css/header.css");
@import url("./css/home/home.css");
@import url("./css/footer.css");
