html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Kiron;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  padding: 0;
  max-width: 1264px;
  margin: 0 auto;
}

@font-face {
  font-family: "Kiron";
  src: url("./fonts/kiron/Kiron.ttf");
  src: url("./fonts/kiron/Kiron.eot");
  src: url("./fonts/kiron/Kiron.woff") format("woff"),
    url("./fonts/kiron/Kiron.otf") format("opentype"),
    url("./fonts/kiron/Kiron.svg#filename") format("svg");
}

/* .f-xs {
  font-size: 12;
}
.f-s {
  font-size: 14;
}
.f-m {
  font-size: 16;
}
.f-xm {
  font-size: 18;
}
.f-l {
  font-size: 20;
}
.f-xl {
  font-size: 24;
}
.f-xxl {
  font-size: 32;
}
.ff-kiron {
  font-family: Kiron;
}
.fw-b {
  font-weight: bold;
}
.fw-n {
  font-weight: normal;
}
.text-design-1 {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
} */

@media screen and (max-width: 875px) and (min-width: 501px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
  .advertisement img {
    width: 100%;
  }
}
@media screen and (max-width: 1263px) and (min-width: 876px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }
  .advertisement img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  body {
    max-width: 768px;
    margin: 0 15px;
  }
  .advertisement img {
    width: 100%;
  }
}
